/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
  font-size: 16px;
}

html {
  width: 100vw;
}

body {
  background-color: #1c0c3f;
  color: #FCFFCF;
}

img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

main{
  text-align: center;
}

.title {
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 1.75em;
}

h1.title {
  margin: 40px auto 20px;
}

h3 {
  font-size: 1.2em;
}

abbr {
  color: #25cbd3;
  font-size: 1em;
}

figcaption {
  visibility: hidden;
}

blockquote {
  text-align: left;
}

@media screen and (min-width: 992px) {
  main .cover-container figure img {
    width: 100%;
  }

}